[Unit]
Description=TinyQ
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/tq /etc/tinyq/tinyq.tq
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
